
@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Index";
}

@section LeftNavigation{ @Html.Partial("_NavLeftClient") }

<div class="row">
    <div class="col-md-12 padremove">
        <div class="row">
            <div class="col-md-12">
                <div class="branch-office">- Welcome Client Screen -</div>
            </div>
        </div>
        <div class="detail-change"><a href="#">Welcome to Client details Module!</a></div>
    </div>
</div>

