
@{
    ViewBag.Title = "Index";
}

@section DisplayErrorMessage{ @Html.Partial("_DisplayErrorMessage") }

<div class="row">
    <div class="col-md-12">
        <div class="detail-change"><img src='@Url.Content("~/images/SecuritasLogo.jpg")' alt="BGV"  /></div>
    </div>
</div>

