@*@model IEnumerable<ViewModels.HRViewModels.TeamDepartmentViewModel>*@

@{
    ViewBag.Title = "Select Designation";
    Layout = "~/Views/Shared/_LayoutDepartment.cshtml";
}

@section DisplayErrorMessage{ @Html.Partial("_DisplayErrorMessage") }

<div class="row">
    <div class="col-md-12">
        <div class="detail-change"><img src='@Url.Content("~/images/SecuritasLogo.jpg")' alt="BGV" /></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>


