
@{
    ViewBag.Title = "Index";
}

@section LeftNavigation{ @Html.Partial("_NavLeftMaster") }
<div class="row">
    <div class="col-md-12 padremove">
        <div class="row">
            <div class="col-md-12">
                <div class="branch-office">- Welcome Master Screen -</div>
            </div>
        </div>
        <div class="detail-change"><a href="#">Welcome to Master details Module!</a></div>
    </div>
</div>

