<div class="row">
    <div class="col-md-12">
        <div class="branch-office"> 
            <div class="col-md-10"> @ViewBag.Title </div>
            <div class="col-md-2">@ViewBag.TitleBackBtn</div>
        </div>        
    </div>
</div>
