<div class="row">
    <div class="col-md-12">
        <div class="mandatory">
            <div class="col-md-10 add-branch">&nbsp;</div>
            <div class="col-md-2 mand">* Mandatory Fields</div>
        </div>
    </div>
</div>
