
<div class="row">
    <div class="col-md-6">
        <div class="private">@*This is a Private and Restricted System for Authorized Users Only*@</div>
    </div>
    <div class="col-md-6">
        <div class="design"><a href="#">@*Designed & Developed By Straight Hire Pvt Ltd*@</a></div>
    </div>
</div>
