
<div class="padremove">
    <nav class="bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
            @*<li><a href='@Url.Action("ManageAllCandidateListForReportQCManager", "ReportQC")'>Manage QC Data</a></li>*@
        </ul>
    </nav>
</div>
