
<div class="padremove">
    <nav class="bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
            <li><a href='@Url.Action("ManageTeamMembers", "HRMgmt")'>Manage Team Members</a></li>
            <li><a href='@Url.Action("ManageWebUsers", "HRMgmt")'>Web User</a></li>
            @*<li><a href="">Employee Info</a></li>*@
           <li><a href='@Url.Action("UnBlockedUserCompany", "HRMgmt")'>UnBlocked Company User</a></li>
           @* <li><a href="">Login and Logout Details</a></li>*@
        </ul>
    </nav>
</div>
