<tr>
    <td width="2%" align="left" valign="bottom" style="border-left:2px solid #999999;">&nbsp;</td>
    <td height="100">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="border-top:3px solid #c0c0c0;">&nbsp;</td>
            </tr>
            <tr>
                <td width="20%"><img src='@Url.Content("~/Images/footer-logo.jpg")' width="120" height="50"></td>
                <td width="1%">&nbsp;</td>
                <td width="79%">
                    <p style="font-size:16px; font-family:'Open Sans',Arial,Helvetica,sans-serif; color:#000080; font-weight:700; text-align:center; margin:15px 0px 0px 0px;">SECURITAS INDIA</p>
                    <p style="font-size:12px; font-family:'Open Sans',Arial,Helvetica,sans-serif; color:#828484; text-align:center; margin:0px;">496, Udyog Vihar, Phase-3, Gurgaon-122016 &nbsp;&nbsp; Tel: + 91 124 4718888</p>
                    <p style="font-size:12px; font-family:'Open Sans',Arial,Helvetica,sans-serif; color:#3a00ff; text-align:center; margin:0px;"><a href="http://www.securitas.in/" target="_blank">www.securitas.in</a>&nbsp;<span style="font-size:12px; font-family:'Open Sans',Arial,Helvetica,sans-serif; color:#3a00ff; text-align:center; margin:0px; padding-left:60px;"><a href="http://www.walsons.com/" target="_blank">www.walsons.com</a></span></p>
                </td>
            </tr>
        </table>
    </td>
    <td style="border-right:2px solid #999999;" align="left" valign="top">&nbsp;</td>
</tr>