<tr style="line-height:0px;">
    <td width="2%" align="left" valign="top" height="49"><img src='@Url.Content("~/Images/top-left.jpg")' width="45" height="49" hspace="0" vspace="0"></td>
    <td width="96%" valign="top" style="border-top:2px solid #999999;">&nbsp;</td>
    <td align="right" valign="top" height="49"><img src='@Url.Content("~/Images/top-right.jpg")' width="45" height="49" hspace="0" vspace="0"></td>
</tr>
