<tr>
    <td align="left" valign="top" height="46"><img src='@Url.Content("~/Images/bottom-left.jpg")' width="45" height="46"></td>
    <td valign="bottom" style="border-bottom:2px solid #999999;">&nbsp;</td>
    <td align="right" valign="top" height="46"><img src='@Url.Content("~/Images/bottom-right.jpg")' width="45" height="46"></td>
</tr>